body {
	background: white;
	color: black;
	min-width: 900px !important;
	overflow-x: scroll;
	color: black;
	font-size: 16px;
}

.section {
	position: relative;
}

#menu {
	position: fixed;
	right: 0px;
	top: 0px;
	list-style-type: none;
	z-index: 70;
	width: 100%;
	height: 77px;
	border-bottom: 1px solid #eeeeee;
	line-height: 77px;
	position: relative;
	background: #E1E1E1;
}

#menu li {
	float: right;
	margin-right: 0px;
	font-size: 16px;
	width: auto;
	height: 77px;
	text-align: center;
}

#menu a {
	color: #666;
	padding-left: 35px;
	padding-right: 35px;
}

#menu .active a {
	color: black;
}

.section {
	font: 16px "Microsoft Yahei";
	color: black;
}

#menu .logo {
	width: 60px;
	height: 60px;
	background: url(images_1/hdImg_3d62149c465111ee804975b5ae4a1e6b14727667553.jpg);
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 20px;
	background-size: contain;
	margin: 0;
	padding: 0;
	box-shadow: -3px 0 3px red, /*左边阴影*/
	3px 0 3px yellow, /*右边阴影*/
	0 -3px 3px blue, /*顶部阴影*/
	0 3px 3px green;
	/*底边阴影*/
}

#menu .menu_p1 {
	position: absolute;
	top: 17px;
	left: 125px;
	font-size: 15px;
	height: 16px;
	width: 40px;
	margin: 0;
	padding: 0;
	line-height: 15px;
}

#menu .menu_p2 {
	position: absolute;
	top: 43px;
	left: 105px;
	font-size: 16px;
	height: 16px;
	width: 80px;
	margin: 0;
	padding: 0;
	line-height: 15px;
}

#menu .menu_line {
	width: 100%;
	height: 3px;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 66px;
	left: 0;
}

#menu .move_line {
	height: 3px;
	background: red;
	position: absolute;
	bottom: -1px;
}

.logo_pic {
	width: 120px;
	height: 120px;
	background: url(images_1/IMG_1691.PNG);
	border-radius: 50%;
	background-size: cover;
	left: 47%;
	top: 50px;
	z-index: 100;
	position: absolute;
	/*animation: name1 3s infinite;*/
}

.s1_p1 {
	color: black;
	font-size: 18px;
	text-align: center;
	margin-top: 192px;
}

@keyframes name1 {
	0% {
		transform: rotate(5deg) scale(1.1);
	}
	50% {
		transform: rotate(-5deg) scale(0.9);
	}
	100% {
		transform: rotate(5deg) scale(1.1);
	}
}

.s1_p2 {
	margin-top: 10px;
	height: 2px;
	text-align: center;
	width: 100%;
}

.s1_p2 span {
	width: 700px;
	height: 2px;
	background: #1d9d74;
	display: inline-block;
	animation: name2 alternate 3s infinite ease-in-out;
}

@keyframes name2 {
	from {
		width: 700px;
		transition: width 3s;
	}
	to {
		transition: width 3s;
		width: 400px;
	}
}

.section:first-of-type p:nth-of-type(3) {
	text-align: center;
}

#music_icon {
	position: fixed;
	top: 150px;
	right: 80px;
	z-index: 10;
	width: 30px;
	height: 30px;
	background: url(images_1/music.png) no-repeat;
	background-size: contain;
	animation: name3 5s infinite linear;
	border-radius: 60%;
}

.music_x {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(2) translateX(10px) translateY(7px);
	z-index: 100;
	display: none;
}

.music_shadow {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	opacity: 0.2;
	z-index: 50;
	display: none;
}

@keyframes name3 {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.phone {
	font-weight: 700;
}

.nnn {
	background: red;
}

@font-face {
	font-family: "iconfont";
	src: url('index_css/iconfont.eot?t=1472954214');
	/* IE9*/
	src: url('index_css/iconfont.eot?t=1472954214#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('index_css/iconfont.woff?t=1472954214') format('woff'), /* chrome, firefox */
	url('index_css/iconfont.ttf?t=1472954214') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('index_css/iconfont.svg?t=1472954214#iconfont') format('svg');
	/* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.icon-xueyuan:before {
	content: "\e643";
}

.icon-age:before {
	content: "\e601";
}

.icon-didian-copy:before {
	content: "\e602";
}

.icon-qianduankaifa:before {
	content: "\e693";
}

.s2_container {
	width: 800px;
	height: 500px;
	margin: 0 auto;
	/*margin-top: 150px;*/
	box-sizing: border-box;
	display: none;
}

.icon_lists li {
	float: left;
	width: 100px;
	height: 180px;
	text-align: center;
	width: 25%;
	margin-top: 30px;
}

.icon_lists .icon {
	font-size: 42px;
	line-height: 100px;
	margin: 10px 0;
	color: #333;
	-webkit-transition: font-size 0.25s ease-out 0s;
	-moz-transition: font-size 0.25s ease-out 0s;
	transition: all 0.25s ease-out 0s;
}

.icon_lists .icon:hover {
	font-size: 80px;
	color: orangered;
}

.btn-default {
	position: absolute;
	top: 10%;
	left: 10%;
	z-index: 9999;
	display: none;
}

.tagline {
	z-index: 9999;
	/*position: absolute;top: 19%;left: 34%;*/
}

#s2_content p {
	margin-top: 10px;
	text-align: center;
}


/*.iconfont{font-size: 45px;color: black;transform: rotate(0) scale(1);transition: all 2s }
.iconfont:hover{transform: scale(1.1) rotate(360deg);color: orange; transition: all 2s;}*/

.icon_lists {
	height: 200px;
	display: none;
	margin-top: 150px;
}

.close {
	animation: name4 3s infinite linear alternate
}

@keyframes name4 {
	0% {
		transform: rotate(0deg) scale(0.8);
	}
	100% {
		transform: rotate(360deg) scale(1.2);
	}
}


/*首页红包动画*/

.draw-down2,
.draw-mid {
	cursor: pointer;
}

.hide {
	/*display: none;*/
	opacity: 0;
}

.draw-gift {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.draw-gift .draw-img {
	width: 100%;
	position: relative;
	margin-top: 6.5rem;
}

.draw-gift .draw-img .draw-down {
	position: absolute;
	width: 9rem;
	height: 9.9rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url(images_1/open-no.png);
	left: 50%;
	margin-left: -4.5rem;
	z-index: 10;
	/*-webkit-animation:draw-down 0.5s ease 1.2s 1 alternate;*/
	/*-webkit-animation-timing-function:cubic-bezier(0.25,0.1,0.25,1);*/
}

@-webkit-keyframes draw-down {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
	}
}

.draw-gift .draw-img .draw-down2 {
	position: absolute;
	width: 9rem;
	height: 9.9rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url(images_1/open-before.png);
	left: 50%;
	margin-left: -4.5rem;
	z-index: 10;
	/*-webkit-animation:draw-down2 0.5s ease 1.4s 1 alternate;*/
	/*-webkit-animation-timing-function:cubic-bezier(0.25,0.1,0.25,1);*/
}

@-webkit-keyframes draw-down2 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.draw-gift .draw-img .draw-mid {
	position: absolute;
	width: 3rem;
	height: 3rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url(images_1/open.png);
	left: 50%;
	margin-left: -1.5rem;
	z-index: 100;
	top: 1.9rem;
	/*animation:open 0.3s linear 1s 3 alternate;*/
}

.draw-gift .draw-img .draw-mid-move {
	-webkit-animation: open 0.2s linear 0.5s infinite alternate;
	-webkit-animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
	animation: open 0.2s linear 0.5s infinite alternate;
	animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes open {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.9);
	}
}

@-webkit-keyframes open {
	0% {
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0.9);
	}
}

.draw-gift .draw-img .draw-up {
	position: absolute;
	width: 9rem;
	height: 4.15rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*background-image: url(images_1/open-back-1.png);*/
	left: 50%;
	margin-left: -4.5rem;
	top: 0;
	z-index: 8;
	opacity: 0;
}

.draw-gift .draw-img .draw-up-up {
	position: absolute;
	width: 9rem;
	height: 4.12rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url(images_1/open-back-2.png);
	left: 50%;
	margin-left: -4.5rem;
	top: 0;
	/*-webkit-transform: rotateX(180deg);*/
	/*-webkit-transform-style: flat;*/
	/*-webkit-transform-origin: bottom;*/
	/*-webkit-animation: draw-up-up 1s linear 0s 0.5 normal;*/
	/*backface-visibility: visible;*/
	/*-webkit-animation-timing-function:cubic-bezier(0.25,0.1,0.25,1);*/
	opacity: 0;
	z-index: 3;
}

.draw-gift .draw-img .draw-list {
	position: absolute;
	width: 5rem;
	height: 6rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*background-image: url(images_1/draw-list-bg.jpg);*/
	left: 50%;
	margin-left: -2.5rem;
	top: 3.5rem;
	opacity: 0;
	z-index: 8;
}

.draw-gift .draw-img .draw-list img {
	vertical-align: middle;
	position: absolute;
	width: 82%;
	top: -2.2rem;
	left: 9%;
}

#draw-btn {
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 0.65rem;
	color: #333;
	top: 17rem;
}

.section3_p1 {
	margin-top: 2%;
	font-size: 27px;
	font-weight: 600;
	text-align: center;
}

.experience {
	color: #249f78;
	font-size: 23px;
	margin-top: 2px;
	text-align: center
}

.section3_detail {
	width: 960px;
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
}

.swiper-container {
	width: 1000px;
	height: 320px;
	margin-top: 70px
}

.swiper-slide {
	width: 100%;
	height: 100%;
	background: url(images_1/exp_list_bg.jpg) no-repeat;
	background-size: contain;
}

.swiper-slide p {
	padding-left: 100px;
	line-height: 30px
}

.swiper-slide p:first-child {
	font-size: 22px;
	font-weight: 600;
	margin-top: 50px;
}

.swiper-button-prev,
.swiper-button-next {
	opacity: 0.5;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
	opacity: 1
}

#section4 {
	color: white;
}

.section4_container {
	width: 1000px;
	height: 200px;
	margin: 0 auto;
	margin-top: 60px;
	clear: both
}

.chart {
	position: relative;
	float: left;
	width: 120px;
	height: 120px;
	text-align: center;
	margin: 0 20px;
}

.chart span {
	display: inline-block;
	height: 120px;
	line-height: 120px;
	font-size: 20px;
}

.chart p {
	margin-top: 20px;
}

.chart canvas {
	width: 120px;
	height: 120px;
	position: absolute;
	left: 0;
	top: 0;
}

.p_container p {
	text-align: center;
	line-height: 35px
}

.my_product {
	font-size: 30px;
	color: red;
	text-align: center;
}

#section6 {
	background: url(images_1/section1.jpg) no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.opacity {
	background: rgba(24, 23, 23, 0.65);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0
}

.section6_container {
	width: 600px;
	height: 300px;
	margin: 100px auto;
	position: relative;
	box-sizing: border-box;
}

.section6_container p:first-child {
	background: #424242;
	line-height: 60px;
	padding-left: 70px;
	color: white;
	font-size: 24px;
	height: 60px;
}

.section6_container p:first-child img {
	width: 29px;
	height: 23px;
	position: absolute;
	left: 29px;
	top: 23px;
}

.section6_container p:not(:first-child) {
	height: 60px;
	width: 100%;
	background: rgba(255, 255, 255, 0.1);
	line-height: 60px;
	box-sizing: border-box;
	padding: 0 30px;
	color: white;
	cursor: pointer;
	transition: all 2s;
}

.section6_container p .sp1 {
	float: left;
}

.section6_container p .sp2 {
	float: right;
}

.section6_container .section6_container_p:hover {
	background: white;
	transform: rotateY(30deg);
	transition: all 2s;
	color: black
}


/*旋转菜单动画*/

.PathMenu {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 60px;
	height: 60px;
	margin: 250px auto 0;
}

.PathInner {
	position: relative;
	width: 60px;
	height: 60px;
}

.PathInner .PathItem {
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.PathInner a {
	/* position:absolute; */
	display: block;
	/* overflow:hidden; */
	background-position: center;
	background-repeat: no-repeat;
	z-index: 999;
}

.PathInner a .item,
.rotate {
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	position: absolute;
}

.PathInner .PathMain {
	z-index: 1000;
	position: absolute;
	display: block;
	/* overflow:hidden; */
	background-position: center;
	background-repeat: no-repeat;
	bottom: 0;
	left: 0;
	cursor: pointer;
}

.PathInner .PathMain .Tmain {
	background-image: url(images_1/bg-2x.png);
	width: 60px;
	height: 60px;
}

.PathInner .PathMain .Tmain .rotate {
	background-image: url(images_1/icon-2x.png);
	-moz-transform: rotate(0deg);
	position: absolute;
	bottom: 0;
	left: 0;
}

.PathInner .cover {
	width: 100%;
	height: 100%;
	display: block;
	background: url(images_1/bg-hl-2x.png) center no-repeat;
	cursor: pointer;
	*filter: alpha(opacity=0);
	filter: alpha(opacity=0)\0;
	opacity: 0;
	-webkit-transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	-ms-transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out;
}

.PathInner .cover:hover {
	opacity: 0.2;
	*filter: alpha(opacity=20);
	filter: alpha(opacity=20)\0;
}

.PathItem .link {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 60px;
	height: 60px;
	background-image: url(images_1/bg-item-2x.png);
}

.PathItem .link .item {
	bottom: 0;
	left: 0;
}

.metaicondetail {
	background: #fff;
	color: #fff;
	border-radius: 6px;
	border: 1px #333 solid;
	min-width: 100px;
	max-width: 300px;
	overflow: hidden;
	text-align: center;
	position: absolute;
	display: none;
	top: -115px;
	left: -22px;
	z-index: 1000;
}

.metaicondetail .inner {
	border: 2px #fff solid;
	border-radius: 6px;
	background: #272727;
	font-size: 14px;
	padding: 5px;
	z-index: 9999;
}

.metaicondetail span {
	font-family: candara, arail;
	font-size: 18px;
}

.metaicondetail s {
	border-color: #333 transparent transparent;
	border-style: solid dashed dashed;
	border-width: 5px;
	clear: both;
	display: inline-block;
	font-size: 0;
	height: 0;
	margin-left: 3px;
	overflow: hidden;
	position: absolute;
	right: 50%;
	top: 44px;
	width: 0;
}

#img {
	position: absolute;
	width: 160px;
	height: 200px;
	background: url(images_1/qq.png) no-repeat;
	background-size: contain;
	top: 430px;
	left: 40%;
}

#PathMenu {
	margin: 0px auto;
}

@media screen and (max-width: 1600px) {
	#menu {
		height: 50px;
		line-height: 50px;
	}
	#menu li {
		height: 50px;
		float: right;
	}
	#menu a {
		padding: 0 25px;
	}
	#menu .logo {
		width: 40px;
		height: 40px;
		top: 5px;
	}
	#menu .menu_p1 {
		top: 8px;
	}
	#menu .menu_p2 {
		top: 29px;
	}
	.section4_container {
		height: 180px;
		margin-top: 20px
	}
	.chart {
		position: relative;
		float: left;
		width: 100px;
		height: 100px;
		text-align: center;
		margin: 0 30px;
	}
	.chart span {
		display: inline-block;
		height: 100px;
		line-height: 100px;
		font-size: 20px;
	}
	.chart p {
		margin-top: 20px;
	}
	.chart canvas {
		width: 100px;
		height: 100px;
		position: absolute;
		left: 0;
		top: 0;
	}
	.p_container p {
		text-align: center;
		line-height: 25px
	}
	.section3_p1 {
		margin-top: 10px
	}
	.draw-gift .draw-img {
		margin-top: 4.5rem
	}
	.logo_pic {
		top: 15px
	}
	.s1_p1 {
		margin-top: 159px
	}
	.s2_container {
		margin-top: 100px
	}
	.section6_container {
		top: -40px;
	}
	#PathMenu {
		/*margin: 200px auto;*/
	}
	#img {
		position: absolute;
		width: 160px;
		height: 200px;
		background: url(images_1/qq.png) no-repeat;
		background-size: contain;
		top: 375px;
		left: 35%;
	}
}

#section2,#section3,#section4,#section5,#section6{display: none;}
#section2{overflow: hidden;}

